<!-- #region FOOTER BEGIN -->
<div class="footer">

  <div class="social">
    <div class="socialLinks">
      <!-- <a href="/team.html"> Team </a> -->

      <a href="/contact">Contact</a>

      <!-- <a href="/career.html"> Career </a> -->

      <a href="/privacy">Privacy</a>

      <a href="/accessibility">Accessibility</a>

      <div class="tooltip">
        <a href="/accessibility">
          Cookie
        </a>
        <span class="tooltipText">
          We only use necessary cookies to make our site work. Necessary cookies
          enable core functionality such as security, network management and
          accessibility. You may disable these by changing your browser
          settings, but this may affect how the website functions. By using our
          website, you agree to our
          <a href="/cookie">cookie policy</a>.
        </span>
      </div>
    </div>
  </div>

  <div class="socialSprite">
    <a href="mailto:info@gmail.com" title="Email" class="Email"></a>
    <a href="tel:+" title="WhatsApp" class="WhatsApp"></a>
    <a
      href="https://www.linkedin.com/company/materich"
      title="LinkedIn"
      class="LinkedIn"
    ></a>
    <a
      href="https://www.facebook.com/Materich-109627411502556"
      title="Facebook"
      class="Facebook"
    ></a>
    <a
      href="https://twitter.com/MaterichUG"
      title="Twitter"
      class="Twitter"
    ></a>
    <a
      href="https://www.instagram.com/materich.ug/"
      title="Instagram"
      class="Instagram"
    ></a>
    <a
      href="https://www.youtube.com/channel/UCrNJ41YgIuUCPaTbZiC6sDA"
      title="YouTube"
      class="YouTube"
    ></a>
  </div>

  <div class="copyright">
    <a href="/">
      &copy;
      <span id="copyrightYear"></span>
      MSM World. All rights reserved.
    </a>
  </div>

</div>
<!-- #endregion FOOTER END -->