<header class="nav" id="navID">

  <div class="logo">
    <a href="#" class="logo">
      <img src="media/png/icons8-globe-64.png" alt="MSM-World" />
    </a>
    <a href="/" class="home">MSM World</a>
    {{!-- <a href="{{ areaLink }}" class="area">{{ area }}</a> --}}
  </div>

  <div class="navAdmin">
    <a href="/join">Join</a>
    <a href="/invest" class="donate">Invest</a>
    <a href="/login">&#x26E8;&#xFE0E; Login</a>
  </div>

  <div class="navMain">
    <a href="/about">About</a>
    <a href="/technology">Designs</a>
    <a href="/products">Poems</a>
    <a href="/publications">Recipes</a>
    <a href="/services">Festivals</a>
  </div>

  <div class="icon" href="javascript:void(0);" onclick="header()">
    &#9776;
  </div>

</header>