<div class="errorBackground">
  <div class="errorContainer">
    <div>
      <div class="errorIconContainer">
        <span class="errorIcon">&#x26A0;</span>
        <span class="errorIconMessage"> 404</span>
      </div>
      <div class="errorMessage">Page Not Found!</div>
    </div>
    <div class="errorGoHome">
      <a class="errorGoHomeLink" href="/">Go to Home</a>
    </div>
  </div>
</div>