<div class="errorBackground">
  <div class="errorContainer">
    <div>
      <div class="errorIconContainer">
        <span class="errorIcon">&#x26A0;</span>
        <span class="errorIconMessage"> 500</span>
      </div>
      <div class="errorMessage">Internal Server Error!</div>
      <p>
        The server has encountered a situation it does not know how to handle.
        We will fix it soon.
        <br />
        Contact us if problem persists.
      </p>
    </div>
    <div class="errorGoHome">
      <a class="errorGoHomeLink" href="/">Go to Home</a>
    </div>
  </div>
</div>